@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-BoldItalic.eot');
    src: url('TTHoves-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-BoldItalic.woff2') format('woff2'),
        url('TTHoves-BoldItalic.woff') format('woff'),
        url('TTHoves-BoldItalic.ttf') format('truetype'),
        url('TTHoves-BoldItalic.svg#TTHoves-BoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-BlackItalic.eot');
    src: url('TTHoves-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-BlackItalic.woff2') format('woff2'),
        url('TTHoves-BlackItalic.woff') format('woff'),
        url('TTHoves-BlackItalic.ttf') format('truetype'),
        url('TTHoves-BlackItalic.svg#TTHoves-BlackItalic') format('svg');
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Black.eot');
    src: url('TTHoves-Black.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Black.woff2') format('woff2'),
        url('TTHoves-Black.woff') format('woff'),
        url('TTHoves-Black.ttf') format('truetype'),
        url('TTHoves-Black.svg#TTHoves-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Bold.eot');
    src: url('TTHoves-Bold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Bold.woff2') format('woff2'),
        url('TTHoves-Bold.woff') format('woff'),
        url('TTHoves-Bold.ttf') format('truetype'),
        url('TTHoves-Bold.svg#TTHoves-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-DemiBoldItalic.eot');
    src: url('TTHoves-DemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-DemiBoldItalic.woff2') format('woff2'),
        url('TTHoves-DemiBoldItalic.woff') format('woff'),
        url('TTHoves-DemiBoldItalic.ttf') format('truetype'),
        url('TTHoves-DemiBoldItalic.svg#TTHoves-DemiBoldItalic') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Hairline';
    src: url('TTHoves-HairlineItalic.eot');
    src: url('TTHoves-HairlineItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-HairlineItalic.woff2') format('woff2'),
        url('TTHoves-HairlineItalic.woff') format('woff'),
        url('TTHoves-HairlineItalic.ttf') format('truetype'),
        url('TTHoves-HairlineItalic.svg#TTHoves-HairlineItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-ExtraBold.eot');
    src: url('TTHoves-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-ExtraBold.woff2') format('woff2'),
        url('TTHoves-ExtraBold.woff') format('woff'),
        url('TTHoves-ExtraBold.ttf') format('truetype'),
        url('TTHoves-ExtraBold.svg#TTHoves-ExtraBold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-ExtraBoldItalic.eot');
    src: url('TTHoves-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-ExtraBoldItalic.woff2') format('woff2'),
        url('TTHoves-ExtraBoldItalic.woff') format('woff'),
        url('TTHoves-ExtraBoldItalic.ttf') format('truetype'),
        url('TTHoves-ExtraBoldItalic.svg#TTHoves-ExtraBoldItalic') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-ExtraLight.eot');
    src: url('TTHoves-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-ExtraLight.woff2') format('woff2'),
        url('TTHoves-ExtraLight.woff') format('woff'),
        url('TTHoves-ExtraLight.ttf') format('truetype'),
        url('TTHoves-ExtraLight.svg#TTHoves-ExtraLight') format('svg');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-ExtraLightItalic.eot');
    src: url('TTHoves-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-ExtraLightItalic.woff2') format('woff2'),
        url('TTHoves-ExtraLightItalic.woff') format('woff'),
        url('TTHoves-ExtraLightItalic.ttf') format('truetype'),
        url('TTHoves-ExtraLightItalic.svg#TTHoves-ExtraLightItalic') format('svg');
    font-weight: 200;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-DemiBold.eot');
    src: url('TTHoves-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-DemiBold.woff2') format('woff2'),
        url('TTHoves-DemiBold.woff') format('woff'),
        url('TTHoves-DemiBold.ttf') format('truetype'),
        url('TTHoves-DemiBold.svg#TTHoves-DemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-MediumItalic.eot');
    src: url('TTHoves-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-MediumItalic.woff2') format('woff2'),
        url('TTHoves-MediumItalic.woff') format('woff'),
        url('TTHoves-MediumItalic.ttf') format('truetype'),
        url('TTHoves-MediumItalic.svg#TTHoves-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Light.eot');
    src: url('TTHoves-Light.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Light.woff2') format('woff2'),
        url('TTHoves-Light.woff') format('woff'),
        url('TTHoves-Light.ttf') format('truetype'),
        url('TTHoves-Light.svg#TTHoves-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Regular.eot');
    src: url('TTHoves-Regular.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Regular.woff2') format('woff2'),
        url('TTHoves-Regular.woff') format('woff'),
        url('TTHoves-Regular.ttf') format('truetype'),
        url('TTHoves-Regular.svg#TTHoves-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves Hairline';
    src: url('TTHoves-Hairline.eot');
    src: url('TTHoves-Hairline.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Hairline.woff2') format('woff2'),
        url('TTHoves-Hairline.woff') format('woff'),
        url('TTHoves-Hairline.ttf') format('truetype'),
        url('TTHoves-Hairline.svg#TTHoves-Hairline') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Medium.eot');
    src: url('TTHoves-Medium.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Medium.woff2') format('woff2'),
        url('TTHoves-Medium.woff') format('woff'),
        url('TTHoves-Medium.ttf') format('truetype'),
        url('TTHoves-Medium.svg#TTHoves-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-LightItalic.eot');
    src: url('TTHoves-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-LightItalic.woff2') format('woff2'),
        url('TTHoves-LightItalic.woff') format('woff'),
        url('TTHoves-LightItalic.ttf') format('truetype'),
        url('TTHoves-LightItalic.svg#TTHoves-LightItalic') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Italic.eot');
    src: url('TTHoves-Italic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Italic.woff2') format('woff2'),
        url('TTHoves-Italic.woff') format('woff'),
        url('TTHoves-Italic.ttf') format('truetype'),
        url('TTHoves-Italic.svg#TTHoves-Italic') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-ThinItalic.eot');
    src: url('TTHoves-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-ThinItalic.woff2') format('woff2'),
        url('TTHoves-ThinItalic.woff') format('woff'),
        url('TTHoves-ThinItalic.ttf') format('truetype'),
        url('TTHoves-ThinItalic.svg#TTHoves-ThinItalic') format('svg');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'TT Hoves';
    src: url('TTHoves-Thin.eot');
    src: url('TTHoves-Thin.eot?#iefix') format('embedded-opentype'),
        url('TTHoves-Thin.woff2') format('woff2'),
        url('TTHoves-Thin.woff') format('woff'),
        url('TTHoves-Thin.ttf') format('truetype'),
        url('TTHoves-Thin.svg#TTHoves-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

